* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height as needed */
  margin: auto 3rem;
}

.row {
  margin-top: 1rem;
}

.row:first-of-type {
  margin-top: 2rem;
}

.label, #label_title {
  margin-right: 5px;
  font-size: 1.3rem;
}

#title_txt {
  text-align: center;
  display: none;
  font-size: 1.1rem;
  resize: none;
  max-height: 130px;

  border-radius: 9px;
  padding: .5rem 1rem;
}

button {
  font-size: 1.3rem;
  cursor: pointer;
  /*border: 1px solid #88c;*/
  border: none;
  background-color: white;
  color: black;
  border-radius: 9px;
  padding: .8rem 2rem;

  transition: box-shadow 0.5s ease-out;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
}

button:hover {
  box-shadow: none;
}

#loading_circle {
  height: 4rem;
  display: none;
}
.edit {
  padding: .3rem;
  font-size: .5rem;
  /*color: white;*/
  background-color: transparent; /*CHECK*/
  box-shadow: none;
  display: none;
}

.edit:first-of-type {
  display: inline;
}

.edit > img {
  filter: invert();
}

#output {
  text-align: center;
}

#urls {
  text-align: left;
  margin-bottom: 5rem;
  font-size: 1rem;
  max-height: 80px;
  overflow:scroll
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  text-align: left;
  font-size: .8rem;
}


@media (prefers-color-scheme: light) {
  button {
    background: #eef;
  }

  button:hover {
    background: #cce;
  }
}