* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height as needed */
  margin: auto 3rem;
}

.row {
  margin-top: 1rem;
}

.row:first-of-type {
  margin-top: 2rem;
}

.label, #label_title {
  margin-right: 5px;
}

#label_title {
  font-size: 1.4rem;
}

#title_txt {
  text-align: center;
  display: none;
}

button {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid #88c;
  border-radius: 4px;
  padding: .7rem
}

.edit {
  padding: .3rem;
  font-size: .5rem;
  color: white;
  display: none;
}

.edit:first-of-type {
  display: inline;
}

.edit > img {
  filter: invert();
}

#tip_container {
  display: inline-block;
}

#tip_container > img {
  filter: invert();
}

#tip {
  display: none;
  font-size: .8rem;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#tip_container > img:hover + #tip {
  display: inline;
}

#output {
  text-align: center;
  margin-bottom: 5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  text-align: left;
  font-size: .8rem;
}


@media (prefers-color-scheme: light) {
  button {
    background: #eef;
  }

  button:hover {
    background: #cce;
  }
}